{{ 'mobile-nav-overhaul.css' | asset_url | stylesheet_tag }}

<ul class="new-mobile-nav__ul">
  <li>
    {% if products_list != blank %}
      <div class="new-mobile-nav__product-grid new-mobile-nav__with-border {% if mobile_columns == 'two' %} new-mobile-nav__two-column-grid {% elsif mobile_columns == 'three' %} new-mobile-nav__three-column-grid {% elsif mobile_columns == 'four' %} new-mobile-nav__four-column-grid {% endif %}">
        {% for product in products_list %}
          <a href="{{ product.url }}">
            <img class="new-mobile-nav__product-image" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
            <p class="new-mobile-nav__product-title ">
              {{ product.title }}
            </p>
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if collection_list != blank %}
      {% for collection in collection_list %}
        <div>
          <p class="text-weight--bold text-size--large">
            {{ collection.title }}
          </p>
        </div>
      {% endfor %}
    {% endif %}
  </li>

  <li class="new-mobile-nav__links-container">
    <div>
      <a href="{{ sub_save_url }}">
        <img class="new-mobile-nav__product-image" src="{{ sub_save_image | img_url: '300x300' }}" alt="{{ sub_save_cta }}">

        <p class="text-weight--bold text-size--large">
          {{ sub_save_cta }}
        </p>
      </a>
    </div>

    <div>
      <a href="{{ sub_save_url_two }}">
        <img class="new-mobile-nav__product-image" src="{{ sub_save_image_two | image_url: width: 300, height: 300 }}" alt="{{ sub_save_cta_two }}">

        <p class="text-weight--bold text-size--large">
          {{ sub_save_cta_two }}
        </p>
      </a>
    </div>
  </li>

  <div class="new-mobile-nav__links-container">
  {% for link in linklists[text_link_list].links %}
    <li>
      <a class="text-weight--bold text-size--large" href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
  </div>

</ul>
