{{ 'mobile-nav-overhaul.css' | asset_url | stylesheet_tag }}
{{ 'mobile-nav-toggle.css' | asset_url | stylesheet_tag }}

<ul class="new-mobile-nav__ul">
  <li class="js-new-mobile-nav-product-container new-mobile-nav__product">
    {% if products_list != blank %}
      <div class="new-mobile-nav__product-grid new-mobile-nav__with-border {% if mobile_columns == 'two' %} new-mobile-nav__two-column-grid {% elsif mobile_columns == 'three' %} new-mobile-nav__three-column-grid {% elsif mobile_columns == 'four' %} new-mobile-nav__four-column-grid {% endif %}">
        {% for product in products_list %}
          <a href="{{ product.url }}">
            <img class="new-mobile-nav__product-image" src="{{ product.featured_image | img_url: '300x300' }}" alt="{{ product.title }}">
            <p class="new-mobile-nav__product-title ">
              {{ product.title }}
            </p>
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if collection_list != blank %}
      {% for collection in collection_list %}
        <div class="new-mobile-nav__collection-dropdown">

          <div class="js-new-mobile-nav-dropdown-trigger new-mobile-nav__collection-dropdown-header" data-collection-id="{{ collection.id }}">
            <p class="new-mobile-nav__collection-title text-weight--bold text-size--large">
              {{ collection.title }}
            </p>
            <span class="icon-chevron">{%- render 'theme-symbols', icon: 'chevron-2' -%}</span>
          </div>

          <div class="new-mobile-nav__hr"></div>


          <div class="new-mobile-nav__collection-dropdown-content" data-collection-id="{{ collection.id }}">
            {%- liquid
      
              if settings.product_card_aspect_ratio == 'natural'
                if item.media.size == 0 or blank_product
                  assign aspect_ratio = 1
                else
                  unless item.featured_media.aspect_ratio > 0
                    assign aspect_ratio = 1
                  else
                    assign aspect_ratio = item.featured_media.aspect_ratio
                  endunless
                endif
              else
                assign aspect_ratio = settings.product_card_aspect_ratio
              endif
              

            -%}
            {% for item in collection.products %}

              {%- liquid
                assign image = item.featured_media
              -%}
              <a href="{{ item.url }}">
                <div style="padding-top:{{ 100 | divided_by: aspect_ratio }}%; position: relative;" class="new-mobile-nav__product-item">
                  {%- capture sizes -%}
                    sizes="(max-width: {{ settings.theme_max_width }}px) calc((100vw - 200px) / 6), {{ settings.theme_max_width | divided_by: 6 }}px"
                  {%- endcapture -%}
  
                  {%- liquid
                    if image != blank
                      assign image_class = 'product-item__image-figure lazy-image--zoom-animation lazy-image--to-reveal'
                      render 'lazy-image', image: image, alt: item.title, ratio: aspect_ratio, type: 'background', class: image_class, sizes: sizes   
                    endif
                  -%}
  
                  <div class="mega-menu-product-item__title">
                    <span class="text-size--regular text-weight--bold">
                      {{ item.title | escape}}
                    </span>
                  </div>      
                  <div class="product-item__price mega-menu-product-item__price">
                    {%- render 'product-price', target: item, variant: product_variant, product_price_varies: item.price_varies -%}
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </li>

  <li class="js-new-mobile-nav-learn-container new-mobile-nav__learn">

  </li>

  <div class="new-mobile-nav__hr"></div>

  <li class="new-mobile-nav__links-container">
    <div class="new-mobile-nav__promo-link-container">
      <a href="{{ sub_save_url }}" class="new-mobile-nav__promo-link">
        <img class="new-mobile-nav__promo-image" src="{{ sub_save_image | img_url: '300x300' }}" alt="{{ sub_save_cta }}">

        <div class="new-mobile-nav__promo-title-container">
          <p class="new-mobile-nav__promo-title text-weight--bold text-size--large">
            {{ sub_save_cta }}
          </p>
        </div>
      </a>
    </div>

    <div class="new-mobile-nav__promo-link-container">
      <a href="{{ sub_save_url_two }}" class="new-mobile-nav__promo-link">
        <img class="new-mobile-nav__promo-image" src="{{ sub_save_image_two | image_url: width: 300, height: 300 }}" alt="{{ sub_save_cta_two }}">

        <div class="new-mobile-nav__promo-title-container">
          <p class="new-mobile-nav__promo-title text-weight--bold text-size--large">
            {{ sub_save_cta_two }}
          </p>
        </div>
      </a>
    </div>
  </li>

  <div class="new-mobile-nav__hr"></div>

  <div class="new-mobile-nav__links-container">
  {% for link in linklists[text_link_list].links %}
    <li>
      <a class="text-weight--bold text-size--large" href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
  </div>

</ul>
