{% comment %}
	Renders the mega menu site navigation.

	Accepts:
	- items: {Array} the items to display. Can be either products list or collection list.
  - isproduct: {Boolean} set true if items are products.
  - iscollection: {Boolean} set true if items are collections.
  - show_more_label: {String} the label for the "show more" button (just when items are present).
  - show_more_url: {String} the url for the "show more" button.
  - linklist: {String} the linklist handle (in case items are not provided, a menu will be rendered).
  - menu_name: {String} the menu name (to be shown in the top level navigation).
  - type: {String} the type of mega menu (can be "classic" or "sidebar").
	- shopify_attributes: {Object} block.shopify_attributes object.

	Usage:
  {% render 'site-nav-mega', items: products, isproduct: true, show_more_label: 'Show more', show_more_url: '', linklist: 'main-menu', menu_name: 'Shop', type: 'classic', shopify_attributes: block.shopify_attributes %}
{% endcomment %}

{%- liquid
	if type == 'classic'
		assign links_class = 'text-animation--underline-in-header'
	elsif type == 'sidebar'
		assign links_weight = 'text-weight--bold text-size--large'
  endif;
-%}

<script src="{{ 'shop-mega-nav.js' | asset_url }}" defer></script>

<li class="has-submenu submenu-is-mega-menu js-mega-menu-item" {{ shopify_attributes }}>

  <a class="menu-link {{ links_weight }}"
    {% if show_more_url %} href="{{ show_more_url }}" {% else %} tabindex="0" {% endif %}
  >
    <span><span class="{{ links_class }}" >{{ menu_name | escape }}</span></span>
    <span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
  </a>

  <ul class="submenu mega-menu" id="SiteNavLabel-{{ link.handle }}-{{ type }}">

    <div class="submenu-holder desktop-submenu-holder
      {% if show_promotion_1 or show_promotion_2 %} submenu-holder--promotion-width-{{ promotion_width }} {% endif %}
      {% if show_promotion_1 and show_promotion_2 %} submenu-holder--promotion-both {% endif %}
    ">

      {%- if items -%}

        {%- if type == 'sidebar' -%}
          <li class="submenu-back">
            <a><span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>{{ 'general.accessibility_labels.back' | t }}</a>
          </li>
        {%- endif -%}

        <ul class="desktop-link-lists">
          {%- for link in linklists[linklist].links -%}
            <li class="mega-link {% if forloop.index == 1 %} active {% endif %}" data-mega-menu-product-grid-id="mega-menu-product-grid-{{ forloop.index0 }}">
              <span class="{{ links_class }}">
                {{ link.title | escape }}
              </span>
              <span class="icon-chevron">{%- render 'theme-symbols', icon: 'chevron-2' -%}</span>
            </li>
          {%- endfor -%}

        {%- if show_promotion_1 or show_promotion_2 -%}
          {%- if promotion_width contains 'half' -%}
            {% capture sizes -%}
              (max-width: {{ settings.theme_max_width }}px) calc((100vw - 100px) / 2), {{ settings.theme_max_width | minus: 100 | divided_by: 2 }}px"
            {%- endcapture -%}
          {%- elsif promotion_width contains 'third' -%}
            {% capture sizes -%}
              (max-width: {{ settings.theme_max_width }}px) calc((100vw - 100px) / 1.33), {{ settings.theme_max_width | minus: 100 | divided_by: 1.33 }}px"
            {%- endcapture -%}
          {%- else  -%}
            {% capture sizes -%}
              (max-width: {{ settings.theme_max_width }}px) calc((100vw - 100px) / 4), {{ settings.theme_max_width | minus: 100 | divided_by: 4 }}px"
            {%- endcapture -%}
          {%- endif -%}
          {% assign sizes = sizes | prepend: 'sizes="(max-width: 474px) calc(100vw - 40px), (max-width: 1023px) 335px, ' -%}
        {%- endif -%}

        {%- if image_border_radius > 0 -%}
          {% style %}
            #SiteNavLabel-{{ link.handle }}-{{ type }} figure,
            #SiteNavLabel-{{ link.handle }}-{{ type }} img,
            #SiteNavLabel-{{ link.handle }}-{{ type }} a.menu-promotion-background-image {
              /* border-radius: {{ image_border_radius }}px {{ image_border_radius }}px 0px 0px; */
            }
          {% endstyle %}
        {%- endif -%}

        <div class="desktop-link-lists-promotion">
          {%- if show_promotion_1 -%}

            <li class="mega-link has-promotion">

              <div class="menu-promotion">

                {%- if promotion_image_link_1 != blank -%}
                  <a href="{{ promotion_image_link_1 }}" class="menu-promotion-background-image">
                {%- else -%}
                  <div class="menu-promotion-background-image">
                {%- endif -%}
                  {%- liquid
                    unless promotion_image_1 == blank
                      render 'lazy-image', image: promotion_image_1, sizes: sizes
                    endunless
                  -%}
                {%- if promotion_image_link_1 != blank -%} </a> {%- else -%} </div> {%- endif -%}

                {%- unless promotion_content_1 == empty -%}
                  <div class="menu-promotion-content gutter-top--small rte remove-empty-space">
                    {{ promotion_content_1 }}
                  </div>
                {%- endunless -%}

              </div>

            </li>

          {%- endif -%}

          {%- if show_promotion_2 -%}

            <li class="mega-link has-promotion">

              <div class="menu-promotion">

                {%- if promotion_image_link_2 != blank -%}
                  <a href="{{ promotion_image_link_2 }}" class="menu-promotion-background-image">
                {%- else -%}
                  <div class="menu-promotion-background-image">
                {%- endif -%}
                  {%- liquid
                    unless promotion_image_2 == blank
                      render 'lazy-image', image: promotion_image_2, sizes: sizes
                    endunless
                  -%}
                {%- if promotion_image_link_2 != blank -%} </a> {%- else -%} </div> {%- endif -%}

                {%- unless promotion_content_2 == empty -%}
                  <div class="menu-promotion-content gutter-top--small rte remove-empty-space">
                    {{ promotion_content_2 }}
                  </div>
                {%- endunless -%}

              </div>

            </li>

          {%- endif -%}
        </div>
        </ul>

        <div style="position: relative; width: 70%;">
        {%- for link in linklists[linklist].links -%}
          <div 
            class="
              mega-menu-product-grid grid product-grid grid--layout
              {% if type == 'sidebar' %} grid-2 {% else %} grid-6 {% endif %} grid-portable-2
              {% if forloop.index == 1 %} product-grid--active {% endif %}
            "

            style="
              {% if desktop_columns == 'three' %} grid-template-columns: 1fr 1fr 1fr !important; 
              {% elsif desktop_columns == 'four' %} grid-template-columns: 1fr 1fr 1fr 1fr !important; 
              {% elsif desktop_columns == 'five' %} grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important; {% endif %}
            "
            id="mega-menu-product-grid-{{ forloop.index0 }}"
          >
              {%- comment -%} Check if link points to a collection and get its handle {%- endcomment -%}
              {%- if link.type == 'collection_link' -%}
                {%- assign collection_handle = link.object.handle -%}
                {%- assign collection = link.object -%}
                
                {%- comment -%} Get all products from the collection and loop over them {%- endcomment -%}
                {%- for item in collection.products -%}
                  {%- liquid
                    if iscollection
                      assign image = item.featured_image
                    else
                      assign image = item.featured_media
                    endif
                  -%}
                  <a href="{{ item.url }}" title="{{ item.title | escape }}" class="product-item">

                    {%- liquid
      
                      if settings.product_card_aspect_ratio == 'natural'
                        if item.media.size == 0 or blank_product
                          assign aspect_ratio = 1
                        else
                          unless item.featured_media.aspect_ratio > 0
                            assign aspect_ratio = 1
                          else
                            assign aspect_ratio = item.featured_media.aspect_ratio
                          endunless
                        endif
                      else
                        assign aspect_ratio = settings.product_card_aspect_ratio
                      endif
      
                    -%}
      
                    <div
                      class="card__image product-item__image
                      {% if section_blocks.size == 0 %} product-item__image--no-text {% endif %}"
                      style="padding-top:{{ 100 | divided_by: aspect_ratio }}%"
                    >
                      {%- capture sizes -%}
                        sizes="(max-width: {{ settings.theme_max_width }}px) calc((100vw - 200px) / 6), {{ settings.theme_max_width | divided_by: 6 }}px"
                      {%- endcapture -%}
      
                      {%- liquid
                        if image != blank
                          assign image_class = 'mega-menu-product-item__image product-item__image-figure lazy-image--zoom-animation lazy-image--to-reveal'
                          render 'lazy-image', image: image, alt: item.title, ratio: aspect_ratio, type: 'background', class: image_class, sizes: sizes   
                        endif
                      -%}
      
                      <div class="mega-menu-product-item__title">
                        <span class="text-size--regular text-weight--bold">
                          {{ item.title | escape}}
                        </span>
                      </div>      
                      <div class="product-item__price mega-menu-product-item__price">
                        {%- render 'product-price', target: item, variant: product_variant, product_price_varies: item.price_varies -%}
                      </div>
                    </div>
                  </a>
                {%- endfor -%}
              {%- endif -%}
            </div>
        {%- endfor-%}
      </div>
      {%- else -%}

        <div class="submenu-masonry
          {% if show_promotion_1 or show_promotion_2 %}
            with-promotion column-size--{{ promotion_width }}
            {% if show_promotion_1 and show_promotion_2 %}
              column-size--both
            {% endif %}
          {% else %}
            without-promotion column-size--{{ promotion_width }}
          {% endif %}"
          data-columns="{%- liquid
            if show_promotion_1 or show_promotion_2
              if promotion_width == 'fourth'
                if show_promotion_1 and show_promotion_2
                  echo '2'
                else
                  echo '3'
                endif
              else
                if show_promotion_1 and show_promotion_2
                  echo '1'
                else
                  echo '2'
                endif
              endif
            else
              if promotion_width == 'fourth'
                echo '4'
              else
                echo '3'
              endif
            endif
          -%}"
        >

          {%- if type == 'sidebar' -%}
            <li class="submenu-back">
              <a><span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>{{ 'general.accessibility_labels.back' | t }}</a>
            </li>
          {%- endif -%}

          {%- for link in linklists[linklist].links -%}

            <li class="mega-link {% if link.links != blank %} has-babymenu {% endif %}">

              <a class="menu-link {% unless link.links != blank %} no-focus-link {% endunless %} {{ links_weight }}" href="{{ link.url }}">
                <span><span class="{{ links_class }}">{{ link.title | escape }}</span></span>
                {%- if link.links != blank -%}
                  <span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
                {%- endif -%}
              </a>

              {%- if link.links != blank -%}
                <div class="babymenu">
                  <ul id="SiteNavLabel-{{ link.handle }}-{{ type }}">
                    {%- if type == 'sidebar' -%}
                      <li class="submenu-back">
                        <a><span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>{{ 'general.accessibility_labels.back' | t }}</a>
                      </li>
                    {%- endif -%}

                    {% for childlink in link.links %}
                      <li><a class="menu-link {% if childlink.active %} active {% endif %} no-focus-link {{ links_weight }}" href="{{ childlink.url }}"><span><span class="{{ links_class }}">{{ childlink.title | escape }}</span></span></a></li>
                    {% endfor %}
                  </ul>
                </div>
              {%- endif -%}

            </li>

          {%- endfor -%}

        </div>

      {%- endif -%}

    </div>

  </ul>

</li>